<%= form_for(@point_tag) do |f| %>
  <% if @point_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@point_tag.errors.count, "error") %> prohibited this point_tag from being saved:</h2>

      <ul>
      <% @point_tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :key %><br />
    <%= f.text_field :key %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :point_id %><br />
    <%= f.text_field :point_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
