<%= form_for(@old_point) do |f| %>
  <% if @old_point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@old_point.errors.count, "error") %> prohibited this old_point from being saved:</h2>

      <ul>
      <% @old_point.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :point_id %><br />
    <%= f.text_field :point_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
